# FinBoard/.gitignore

# -----------------
# Python / Django (dentro da pasta /api/)
# -----------------

# Ambiente virtual
/api/.venv/
/api/venv/
/api/env/

# Arquivos de ambiente - NUNCA envie chaves secretas para o Git!
/api/.env

# Banco de dados local
/api/db.sqlite3

# Arquivos compilados do Python
/api/__pycache__/
*.pyc

# Arquivos de mídia enviados por usuários
/api/media/

# Arquivos de dependências do Node.js
/api/node_modules/

# Arquivos de ambiente (ver próximo item)
/api/main.bundle.js


# -----------------
# Node.js / Next.js (dentro da pasta /web/)
# -----------------

# Dependências
/web/node_modules/

# Arquivos de build do Next.js
/web/.next/
/web/out/

# Arquivos de ambiente do frontend
/web/.env.local
/web/.env.*.local
!/web/.env.example

# Logs
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*


# -----------------
# Arquivos de SO e Editores (Geral)
# -----------------
.DS_Store
.vscode/
.idea/

