/* Estilo do scroll apenas para as tabelas do grid fixo */
.overflow-auto::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.overflow-auto::-webkit-scrollbar-track,
.overflow-x-auto::-webkit-scrollbar-track {
    background: #1f2937; /* bg-gray-800 */
    border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb,
.overflow-x-auto::-webkit-scrollbar-thumb {
    background: #4b5563; /* gray-600 */
    border-radius: 10px;
    border: 2px solid #1f2937;
}

.overflow-auto::-webkit-scrollbar-thumb:hover,
.overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* gray-500 */
}

/* Firefox */
.overflow-auto,
.overflow-x-auto {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937;
}

/* Cabeçalho fixo nas tabelas com scroll */
.overflow-auto,
.overflow-x-auto thead th h3 div{
    position: sticky;
    top: 0;
    background-color: #374151; /* bg-gray-700 */
    z-index: 10;
}